<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>489753318138-01gdalmqbh9qdujhp2657m096gfufraq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.489753318138-01gdalmqbh9qdujhp2657m096gfufraq</string>
	<key>API_KEY</key>
	<string>AIzaSyC1ELhQbto_gm1ld7WNkDqw7Hriz6KBeGc</string>
	<key>GCM_SENDER_ID</key>
	<string>489753318138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.invia.mwallet.dev1</string>
	<key>PROJECT_ID</key>
	<string>mwallet-dev1</string>
	<key>STORAGE_BUCKET</key>
	<string>mwallet-dev1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489753318138:ios:6a81444f78655ed851ef43</string>
</dict>
</plist>