<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286388112981-iljk6dkbl8h822us4hocgglv07dslk8r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286388112981-iljk6dkbl8h822us4hocgglv07dslk8r</string>
	<key>API_KEY</key>
	<string>AIzaSyCPKBTHfM3tD90JeqL-eYTla8MyFZjDINE</string>
	<key>GCM_SENDER_ID</key>
	<string>286388112981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.invia.ccs.rewards</string>
	<key>PROJECT_ID</key>
	<string>ccs-reward360</string>
	<key>STORAGE_BUCKET</key>
	<string>ccs-reward360.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286388112981:ios:323d44b3c2960ef1738edc</string>
</dict>
</plist>